<h1><%= @artist.name %></h1>

<table>
  <tr>
    <th>楽曲名</th>
    <th>投稿数</th>
    <th>最新投稿日</th>
  </tr>
    <% @artist.musics.each do |music| %>
      <tr>
        <td><%= music.name %></td>
        <td><%= music.id %></td>
        <td><%= music.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "投稿一覧",music_path(music) %></td>
      </tr>
    <% end %>
</table>