<%= render 'admin/admin_header' %>

<h2><%= @artist.name %>を編集</h2>

<%= form_with model:@artist, url:admin_artists_path, local:true do |f| %>
  <h4>アーティスト名</h4>
    <%= f.text_field :name %>
  <h4>ジャンル</h4>
    <%= f.radio_button :genre, "Pop" %>
      <%= f.label :genre, 'Pop' %></br>
    <%= f.radio_button :genre, "Rock" %>
      <%= f.label :genre, 'Rock' %></br>
    <%= f.radio_button :genre, "RandB" %>
      <%= f.label :genre, 'RandB' %></br>
    <%= f.radio_button :genre, "Jazz" %>
      <%= f.label :genre, 'Jazz' %></br>
    <%= f.radio_button :genre, "Classic" %>
      <%= f.label :genre, 'Classic' %></br>
    <%= f.radio_button :genre, "Others" %>
      <%= f.label :genre, 'Others' %></br>
  <%= f.submit '変更を保存' %>
<% end %>