<%= render 'admin/admin_header' %>

  <div class = "center">

  <h1>ユーザー一覧</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>登録日</th>
      <th>ユーザー名</th>
      <th>ユーザー情報詳細</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= user.name %></td>
        <td><%= link_to "詳細",admin_user_path(user.id) %></td>
    <% end %>
  </table>
</div>
