<h3><%= @music.artist.name %></h3>
  <h2><%= @music.name %></h2>

    <p>わたしが聴きたくなるシーン <%= @music.scene %></p>
      

    <%= @music.introduction %>

 
 
   <div>
    <h4>コメント</h4>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, music: @music } %>
    <% end %>
  </div>