<!DOCTYPE html>
<html>
  <head>
    <title>Lifeandmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="wrapper">
  <%= yield %>
  <footer>Life & Music</footer>
</body>
</html>